<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
    <style>
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://www.gochalk.com/images/bg.jpg');
  height: 500px;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
  background-color: #efefef;
  border-bottom:1px solid #dbdbdb;
}

.neighborhood-guides h2 {
  color: #393c3d;
  font-size: 24px;
}

.neighborhood-guides p {
  margin-bottom: 13px;
  font-size: 15px;
}
</style>
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a>Chalk Daily Fantasy Sports</a></li>
        </ul>
      </div>
    </div>

    <div class="neighborhood-guides">
         <div class="container">
            <h2>Services</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                      <a href="http://admin.gochalk.com:8081"><img src="/images/users.jpg" ></a>
                    </div>
                    <div class="thumbnail">
                      <a href="http://admin.gochalk.com:8082"><img src="/images/sports.jpg" ></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                      <a href="http://admin.gochalk.com:8083"><img src="/images/contests.jpg" ></a>
                    </div>
                    <div class="thumbnail">
                      <a href="http://admin.gochalk.com:8084"><img src="/images/payments.jpg" ></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                     <a href="http://admin.gochalk.com:8085"> <img src="/images/comms.jpg" > </a>
                    </div>
                </div>
            </div>
         </div>
    </div>
  </body>
</html>
